h1 {
    background-color: black;
    color: white;
}

h1 span {
    color: 	rgb(0, 255, 255);
}
h2{ background: rgb(128, 0, 255);
    text-align: center ;
    color: white ;
    font-size:200% ;
    
}
h3{ background: rgb(0, 191, 255);
  text-align: right  ;
 margin-bottom: 50%
  text-align: right  ;
   
}